
/.vs/AI.Demo/DesignTimeBuild
/.vs/AI.Demo/FileContentIndex
/.vs/AI.Demo/v17
/.vs
/AI.Demo.Api/bin
/AI.Demo.Api/obj
/AI.Demo.Application/bin
/AI.Demo.Application/obj
/AI.Demo.Domain/bin
/AI.Demo.Domain/obj
/AI.Demo.Infrastructure/bin
/AI.Demo.Infrastructure/obj
